/node_modules/
.env
/src/js/*.js
/src/js/*.LICENSE.txt
!/src/js/.gitkeep
/src/index.html
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.vscode/*.log
