.player .player__player-button,
.player .player__player-progress {
  transition: color 10s, background-color 10s, border-color 10s, box-shadow 10s;
}

.player .player__player-progress .progress-bar {
  transition: background-color 10s, width linear 1000ms;
}

.player > div > div small {
  transition: text-shadow 10s;
  line-height: 1;
}

.player .player__player-button {
  align-self: flex-start;
  margin-right: 0.75rem;
}

.player > div > div {
  transition: color 10s;
  line-height: 1;
}
